li button {
  text-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.sideMenu button {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.sideMenu button:hover {
  background-color: #f0f0f0;
}

.info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

#sectorMenu button {
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}

#sectorMenu button.active {
  background-color: var(--sector-color, transparent);
}
