.lambeth-blue {
  color: #212c61;
}
.lambeth-orange {
  color: #faa71c;
}

.pink {
  color: #e40857;
}
.green {
  color: #4ba12f;
}
.teal {
  color: #00a4a6;
}
.blue {
  color: #0088c2;
}
.orange {
  color: #ef7d00;
}
