.flex {
  display: flex;
}
.flex-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
