<style>
  .navbar-inverse {background-color: #ff9900}

  .body {font-family: "Arial"}

  .btn {background-color: #006699}  

  body {
    font-family: Arial, sans-serif;
  }

  header img {
        height: 50px;
        margin-right: 20px;
  }
  
  /*main {
    display:block;
  }*/
  
  .intro {
    padding-bottom: 2%;
  }
  .container {
    padding-top: 2%;
    padding-bottom: 3%;
  }

  *, ::before, ::after {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      border-color: currentColor;
  }


  #right, #left {
    /*background-color: #006699;
    background-image: none; */
    border-radius: 20px;
  }


  .intro {
    padding-left: 5%;
    padding-right: 5%;
  }

  .flex-wrap {
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .carousel_outer {
    min-height: 400px;
    max-height: 600px;
    height: fit-content;
    background-color: #fff;
    border-color: #000;
    border-width: 2px;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;
  }

  .carousel_inner {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
  }
  .carousel_inner li{
    font-size: 18px;
    line-height: 1.25;
    padding-bottom: 10px;
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  }

  #indicators >
    .active{
      /*border-color: #000;*/
      height: 20px;
      width: 20px;
      border-width: 2.5px;
      background-color: #993399;      
    }
  
  #indicators 
    li {
      border-color: #000;
      height: 15px;
      width: 15px;
      border-width: 2px;
      margin-left: 1%;
      margin-right: 1%;
    }
  
  #indicators {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    font-size: x-large;
  }

  .center {
    text-align: center;
  }

  .hidden {
    display:none;
  }

  .banner {
   background-image: url("img/banner1.png") ; 
   height: 200px;
   background-position-y: center;
   background-repeat: no-repeat;
   background-position-x: center;
   background-size:cover;
  }

  .tile {
    min-height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .way3 {
    width: 27.3%;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
  }

  .way2 {
    width: 44%;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
  }

  .way1 {
    width: 94%;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
  }

  .flex{
    display: flex;
    flex-direction: column;
  }
  .tile-grid {
    display: flex;
  }
  
  body {
      font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
      font-size: 1.05555rem
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  header nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
  }

  main {
    text-align: center;
    padding-top: 0rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1rem;
    padding-bottom: 5rem;
    /*padding: 80px;*/
  }

  main h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .btn {
    background-color: #fff;
    color: #006699;
    outline-color: #000;
    outline-style: solid;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
  }

  .btn:hover {
    background-color: #993399;
    color: #fff;
    cursor: pointer;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

@media (max-width: 1300px) {
  .way3 {
    width: 44%;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
  }
}

@media (max-width: 900px) {
  .way3 {
    width: 100%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
  }

  .way2 {
    width: 100%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
  }

  .way1 {
    width: 100%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
  }
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #000;
  margin-top: 2rem;
}



</style>


